{% extends "base.html" %}
{% load static %}
{% load cellar_tools %}

{% block header %}
    <div class="container-fluid sh-cont-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="sw-logo-font mb-4">Shopping cellar</h2>
            <hr>
        </div>
    </div>
    <!-- cellar Table from Code Institute, Django Module https://codeinstitute.net/global/ -->
    <div class="row">
        <div class="col">
            {% if cellar_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cellar_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="../media/{{ item.product.img_file_name }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 text-muted"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.product.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="{% url 'update_cellar' item.product.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control qty_input" type="number" name="quantity"
                                                 value="{{ item.quantity }}" min="1" max="99" 
                                                 data-item_id="{{ item.product.pk }}" id="id_qty_{{ item.product.pk }}">
                                            {% if item.product.has_sizes %}
                                                 <input type="hidden" name="product_size" value="{{ item.size }}">
                                             {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-link text-danger float-right" id="remove_{{ item.product.pk  }}"><small>Remove</small></a>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>cellar Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'wines' %}" class="btn rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="bi bi-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="bi bi-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <p class="lead mb-5">Your cellar is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="bi bi-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block aside %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- cellar Update jQuery from Code Institute, Django Module https://codeinstitute.net/global/ -->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cellar/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}