{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="container-fluid sh-cont-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col-12">
                <!-- Mobile Cellar link -->
                <div class="d-md-none">
                    <a href="{% url 'cellar' %}" class="btn rounded-0 btn-sm p-0">
                        <span class="icon">
                            <i class="bi bi-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Cellar</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Desktop and Tablet Cellar Stats region -->
            <aside class="col-12 sw-dt-sidebars sw-b-color-02 ">
                <div class="row py-2">
                    <div class="col text-center sw-h-color-02">
                        <h5 class="sw-cellar-head">Your Cellar Stats</h5>
                        <hr>
                    </div>
                </div>
                {% if cellar_items %}
                    <div class="row">
                        <div class="col">
                            <p class="sw-cellar-stats-title sw-p-color-02">Cellar Value: ${{ cellar_total|floatformat:2 }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="sw-cellar-stats-title sw-p-color-02"># of Cellar Items: {{ cellar_count }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <div class="sw-cellar-stats-title sw-p-color-02"># of Varietals in Your Cellar:</div>
                                <div class="sw-p-color-02"><small> {{ cellar_varietal_count|length }} / 184</small></div>
                            </div>
                            <div>
                                <div class="float-end">
                                    <!-- Button trigger cellar stats info modal -->
                                    <button type="button" class="btn p-0 m-0 ms-2" data-bs-toggle="modal" data-bs-target="#cellarStatsModal">
                                        <strong><i class="bi bi-info-square m-0 p-0 sw-p-color-02"></i></strong>
                                    </button>
                                </div>
                                <!-- change display color of progress bar based on proress % -->
                                {% if cellar_varietal_count|length > 0 and cellar_varietal_count|length <= 44 %}
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ cellar_varietal_count|length }}%" aria-valuenow="{{ cellar_varietal_count|length }}" aria-valuemin="0"
                                        aria-valuemax="180">
                                    </div>
                                </div>
                                {% elif cellar_varietal_count|length > 44 and cellar_varietal_count|length <= 89 %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ cellar_varietal_count|length }}%" aria-valuenow="{{ cellar_varietal_count|length }}" aria-valuemin="0"
                                        aria-valuemax="180">
                                    </div>
                                </div>
                                {% elif cellar_varietal_count|length > 89 and cellar_varietal_count|length <= 134 %}
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ cellar_varietal_count|length }}%" aria-valuenow="{{ cellar_varietal_count|length }}" aria-valuemin="0"
                                        aria-valuemax="180">
                                    </div>
                                </div>
                                {% else %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ cellar_varietal_count|length }}%" aria-valuenow="{{ cellar_varietal_count|length }}" aria-valuemin="0"
                                        aria-valuemax="180">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="sw-cellar-stats-title sw-p-color-02 mt-4">Names of Varietals in Your Cellar:</div>
                            <div class="sw-p-color-02">
                                {% for varietal_item in cellar_varietal_count %}
                                    <small>{{ varietal_item }}</small>
                                    {% if forloop.counter != cellar_varietal_count|length %}
                                    ,
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else%}
                    <div class="row">
                        <div class="col">
                            <p class="sw-p-color-02">Your Cellar is empty at the moment.</p>
                        </div>
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>
{% endblock %}