{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Update Cellar Item</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col col-md-4">
                        {% if wine.image %}
                        <a href="{% url 'wine_detail' wine.pk %}" target="_blank">
                            <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}{{ wine.image }}"
                                alt="{{ wine.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'wine_detail' wine.pk %}">
                            <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ wine.name }}">
                        </a>
                        {% endif %}
                    </div>
                <div class="col col-md-8">
                    <div class="card-body pb-0">
                        <p class="mb-0"><a class="sw-link-text-01" href="{% url 'wine_detail' wine.pk %}">{{ wine.name }}</a></p>
                    </div>
                    <div class="card-footer pt-0 border-0 text-left sw-p-color-blk">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">${{ wine.price }}</p>
                                {% if wine.country_state %}
                                <div class="">
                                    <small class=""><i class="mr-1"></i>{{ wine.country_state.friendly_name }}</small>
                                </div>
                                {% endif %}
                                {% if wine.region %}
                                <div>
                                    <small class=""><i class="mr-1"></i>{{ wine.region.friendly_name }}</small>
                                </div>
                                {% endif %}
                                {% if wine.appellation %}
                                <div>
                                    <small class=""><i class="mr-1"></i>{{ wine.appellation.friendly_name }}</small>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Update the cellar item quantity -->
                                <form action="{% url 'update_cellar' cellar_item.pk %}" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div>
                                        <p>
                                            <button type="submit">Update Item</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}