{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="container-fluid sh-cont-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="sw-index-flip">
    <div class="text-center sw-index-title sw-b-color-04c"><h2 class="sw-index-title-font">Visualize Your Wine Collection</h2></div>
    <div class="my-5 sw-index-h4">
        <h4>
            <a href="{% url 'products' %}" class="btn btn-lg rounded-0 text-uppercase py-3 sw-btn-index-h4">View Our Products</a>
        </h4>
    </div>
    <div class="my-5 sw-index-h4">
        <h4>
            <a href="{% url 'wines' %}" class="btn btn-lg rounded-0 text-uppercase py-3 sw-btn-index-h4">View Our Wines</a>
        </h4>
    </div>
    <div class="my-5 sw-index-h4">
        <h4>
            <a href="{% url 'cellar' %}" class="btn btn-lg rounded-0 text-uppercase py-3 sw-btn-index-h4">Manage Your Cellar</a>
        </h4>
    </div>
</div>
{% endblock %}

{% block aside %}
{% endblock %}