<div class="float-end sw-cellar-link">
    <a class="nav-link p-0 sw-i-color-03" href="{% url 'cellar' %}">
        <div class="text-center">
            <div class="d-inline"><i class="bi bi-door-open-fill font-weight-bold"></i></div>
            <!-- Mobile Display -->
            <div class="d-md-none">
                <p class="m-0">
                    Cellar
                </p>
            </div>
            <!-- Desktop/Tablet Display -->
            <div class="d-none d-md-inline">
                <p class="m-0">
                    Cellar
                </p>
            </div>
        </div>
    </a>
</div>