<a class="{% if grand_total %}sw-i-color-03 font-weight-bold
{% else %}sw-i-color-01
{% endif %} nav-link" href="{% url 'cellar' %}">
<div class="text-center">
    <div class="d-inline"><i class="bi bi-door-open-fill"></i></div>
    <div class="d-inline float-end">
        <p class="my-0"> Cellar
        </p>
    </div>
</div>
</a>
<a class="{% if grand_total %}sw-i-color-03 font-weight-bold
{% else %}sw-i-color-01
{% endif %} nav-link" href="{% url 'cellar' %}"><i class="bi bi-door-open-fill"></i>Cellar
</a>