<div class="sw-delivery-banner">
    {% if not messages %}
        {% if request.user.is_authenticated %}
        <div class="sw-i-color-03 mb-0">Hello {{ request.user.username }}!</div>
        {% endif %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="row sw-flash-msg-row">
                <h6 class="sw-flash-msg sw-h-color-04">{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
    {% if error_messages %}
        <h6>My error message is error!</h6>
    {% endif %}
</div>
