<div>
    <a class="{% if grand_total %}sw-i-color-01 font-weight-bold
    {% else %}sw-i-color-02
    {% endif %} nav-link p-0 ps-2" href="{% url 'cart' %}">
    <div class="text-center">
        <div class="d-inline"><i class="bi bi-cart2 font-weight-bold sw-font-size-200"></i></div>
        <!-- Mobile Display -->
        <div class="d-md-none">
            <p class="m-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
        <!-- Desktop/Tablet Display -->
        <div class="d-none d-md-inline">
            <p class="m-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </div>
    </a>
</div>