<div class="dropdown float-end">
    <button class="btn dropdown-toggle p-0" type="button" id="userMenuBtn" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person sw-i-color-01 sw-user-menu-icon"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="userMenuBtn">
        {% if request.user.is_authenticated %}
        <li>
            {% if request.user.is_superuser %}
                <a href="{% url 'add_wine' %}" class="dropdown-item">Add Wine Product</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        </li>
        {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
    <p class="sw-i-color-01 mb-0">{{ request.user.username }}</p>
    {% endif %}
</div>