{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid px-1 px-md-3">
    <div class="row">
        <div class="col text-center mt-md-3 mb-1">
            {% if search_term %}
            <h2 class="sw-content-title">Search results for "{{ search_term }}"</h2>
            {% else %}
            <h2 class="sw-content-title">Our Products Collection</h2>
            {% endif %}
        </div>
    </div>
    <!-- Build Search Results section -->
    <!-- Not shown unless search was requested -->
    {% if search_term %}
    <div class="row">
        <div class="col-12 table-responsive p-1">
            <table class="table table-hover align-middle">
                <thead class="sw-font-size-85">
                  <tr>
                    <th scope="col">Result</th>
                    <th scope="col">Varietal</th>
                    <th scope="col">Region</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody class="sw-font-size-75">
                {% for product in products %}
                  <tr>
                    <th scope="row"><a class="sw-link-text-02" href="{% url 'wine_detail' product.pk %}">{{ product.name }}</a></th>
                    <td>{{ product.varietal.friendly_name }}</td>
                    <td>{{ product.country_state.friendly_name }}</td>
                    <td>${{ product.price }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    {% endif %}
    <!-- Build Wine Products section -->
    <div class="row mt-4 pt-md-4">
        <div class="sw-product-title ps-0 mb-2 sw-p-color-01">
            <div>
                <h5>Featured Wines</h5>
            </div>
            <div>
                <a href="{% url 'wines' %}" class="btn rounded-0 text-uppercase float-end pe-3 sw-btn-index-h4">View All Wines</a>
            </div>
        </div>
        {% for wine in wines %}
        <div class="col-6 col-md-3 sw-card-col p-1">
            <div class="card h-100 text-center">
                <div class="card-header sw-card-header p-0 sw-b-color-02c">
                    {% if wine.varietal %}
                    <div>
                        <small class=" sw-p-color-03">{{ wine.varietal.friendly_name }}</small>
                    </div>
                    {% else %}
                    <div>
                        <small class=" sw-p-color-03">Varietal not Specified</small>
                    </div>
                    {% endif %}
                </div>
                <div class="sw-card-body-prod">
                    {% if wine.image %}
                    <a href="{% url 'wine_detail' wine.pk %}">
                        <img class="card-img-top img-fluid mt-3 sw-card-img" src="{{ MEDIA_URL }}{{ wine.image }}"
                            alt="{{ wine.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ wine.name }}">
                    </a>
                    {% endif %}
                    <div class="mt-1 mt-lg-3 pb-0 sw-card-name">
                        <a class="sw-link-text-01" href="{% url 'wine_detail' wine.pk %}">{{ wine.name }}</a>
                    </div>
                </div>
                <div class="card-footer border-0 text-left sw-card-footer sw-p-color-blk">
                    <div class="row">
                        <div class="col">
                            <div class="sw-card-price text-start">
                                <p class="mb-0 font-weight-bold">${{ wine.price }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="d-none d-md-block sw-card-des">
                                <p class="sw-font-size-60 text-start">{{ wine.description|truncatewords:10 }}</p>
                            </div>
                            <div class="sw-wine-info text-uppercase">
                                {% if wine.country_state %}{{ wine.country_state.friendly_name }}{% endif %}
                                {% if wine.region %}, {{ wine.region.friendly_name }}{% endif %}
                                {% if wine.appellation %}, {{ wine.appellation.friendly_name }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Build Wine Accessories Products section -->
    <div class="row mt-4 pt-md-4">
        <div class="sw-product-title ps-0 mb-2 sw-p-color-01">
            <div>
                <h5>Featured Wine Accessories</h5>
            </div>
            <div>
                <a href="" class="btn rounded-0 text-uppercase float-end pe-3 sw-btn-index-h4">View All Wine Accessories (Coming Soon!)</a>
            </div>
        </div>
        {% for wa in wine_accessory %}
        <div class="col-6 col-md-3 sw-card-col">
            <div class="card h-100 text-center">
                <div class="card-header sw-card-header p-0 sw-b-color-02c">
                    {% if wa.varietal %}
                    <div>
                        <small class=" sw-p-color-03">{{ wa.varietal.friendly_name }}</small>
                    </div>
                    {% else %}
                    <div>
                        <small class=" sw-p-color-03">Varietal not Specified</small>
                    </div>
                    {% endif %}
                </div>
                <div class="sw-card-body-prod">
                    {% if wa.image %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3 sw-card-img" src="{{ MEDIA_URL }}{{ wa.image }}"
                            alt="{{ wa.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ wa.name }}">
                    </a>
                    {% endif %}
                    <div class="mt-4 pb-0 sw-card-name">
                        <a class="sw-link-text-01" href="">{{ wa.name }}</a>
                    </div>
                </div>
                <div class="card-footer border-0 text-left sw-card-footer sw-p-color-blk">
                    <div class="row">
                        <div class="col">
                            <div class="sw-card-price text-start">
                                <p class="lead mb-0 font-weight-bold">${{ wa.price }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="sw-card-des">
                                <p class="sw-font-size-60 text-start">{{ wa.description|truncatewords:10 }}</p>
                            </div>
                            <div class="sw-wine-info text-uppercase">
                                {% if wa.country_state %}{{ wa.country_state.friendly_name }}{% endif %}
                                {% if wa.region %}, {{ wa.region.friendly_name }}{% endif %}
                                {% if wa.appellation %}, {{ wa.appellation.friendly_name }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Build Culinary Products section -->
    <div class="row mt-4 pt-md-4">
        <div class="sw-product-title ps-0 mb-2 sw-p-color-01">
            <div>
                <h5>Featured Culinary Products</h5>
            </div>
            <div>
                <a href="" class="btn rounded-0 text-uppercase float-end pe-3 sw-btn-index-h4">View All Culinary Products (Coming Soon!)</a>
            </div>
        </div>
        {% for c in culinary %}
        <div class="col-6 col-md-3 sw-card-col">
            <div class="card h-100 text-center">
                <div class="card-header sw-card-header p-0 sw-b-color-02c">
                    {% if c.varietal %}
                    <div>
                        <small class=" sw-p-color-03">{{ c.varietal.friendly_name }}</small>
                    </div>
                    {% else %}
                    <div>
                        <small class=" sw-p-color-03">Varietal not Specified</small>
                    </div>
                    {% endif %}
                </div>
                <div class="sw-card-body-prod">
                    {% if c.image %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3 sw-card-img" src="{{ MEDIA_URL }}{{ c.image }}"
                            alt="{{ c.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ c.name }}">
                    </a>
                    {% endif %}
                    <div class="mt-4 pb-0 sw-card-name">
                        <a class="sw-link-text-01" href="">{{ c.name }}</a>
                    </div>
                </div>
                <div class="card-footer border-0 text-left sw-card-footer sw-p-color-blk">
                    <div class="row">
                        <div class="col">
                            <div class="sw-card-price text-start">
                                <p class="lead mb-0 font-weight-bold">${{ c.price }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="sw-card-des">
                                <p class="sw-font-size-60 text-start">{{ c.description|truncatewords:10 }}</p>
                            </div>
                            <div class="sw-wine-info text-uppercase">
                                {% if c.country_state %}{{ c.country_state.friendly_name }}{% endif %}
                                {% if c.region %}, {{ c.region.friendly_name }}{% endif %}
                                {% if c.appellation %}, {{ c.appellation.friendly_name }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}