{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay sw-overlay-varietals"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img class="img-fluid mt-3" src="../media/cab_grapes.jpg" alt="Grapes on a vine.">
        </div>
        <div class="col-10 text-center mt-3">
            <h2 class="logo-font">Wine Grape Varietals</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3 fs-4">Varietal<hr></div>
        <div class="col-6 fs-4">Description<hr></div>
        <div class="col-3 fs-4">Resources<hr></div>
    </div>
    {% for varietal in varietals %}
    <div class="row mt-3">
        <div class="col-3 sw-h-color-03">{{ varietal.friendly_name }}</div>
        <div class="col-6 sw-varietal-des sw-p-color-blk">
            {{ varietal.description }}
        </div>
        <div class="col-1 sw-font-size-85">
            <a href="{{ varietal.wiki_url }}" target="_blank">
                Wiki
            </a>
        </div>
        {% if varietal.alt_url_1 %}
        <div class="col-1">
            <a href="{{ varietal.alt_url_1 }}" target="_blank">
                Total Wine&#174; Guide
            </a>
        </div>
        {% endif %}
        <div class="col-1">
            <a href="{% url 'wines' %}?varietal={{ varietal.name }}">
                Shop
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}