{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Wines Listed by {{ sorting }}</h2>
            <!-- Secondary Nav -->
            {% for c in countries %}
            <a class="text-decoration-none" href="{% url 'wines' %}?country_state={{ c.name }}">
                <span class="p-2 mt-2 badge bg-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            {% for v in varietals %}
            <a class="text-decoration-none" href="{% url 'wines' %}?varietal={{ v.name }}">
                <span class="p-2 mt-2 badge bg-dark">{{ v.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="w-100 mb-1">
        </div>
    </div>
    <!-- Sort Selector and query counter from Code Institute, Django Module https://codeinstitute.net/global/ -->
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="form-select form-select-sm rounded-1 border border-{% if current_sorting != 'All Wines_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="varietal_asc" {% if current_sorting == 'varietal_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="varietal_desc" {% if current_sorting == 'varietal_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'wines' %}">Wines Home</a> | </span>
                {% endif %}
                {{ wines|length }} Wines{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <!-- Product Cards -->
    <div class="row pt-2">
        {% for wine in wines %}
        <div class="col-6 col-md-3 sw-card-col">
            <div class="card h-100 text-center">
                <div class="card-header sw-card-header p-0 sw-b-color-02c">
                    {% if wine.varietal %}
                    <div>
                        <small class=" sw-p-color-03">{{ wine.varietal.friendly_name }}</small>
                    </div>
                    {% else %}
                    <div>
                        <small class=" sw-p-color-03">Varietal not Specified</small>
                    </div>
                    {% endif %}
                </div>
                <div class="sw-card-body">
                    {% if wine.image %}
                    <a href="{% url 'wine_detail' wine.pk %}">
                        <img class="card-img-top img-fluid mt-3 sw-card-img" src="{{ MEDIA_URL }}{{ wine.image }}"
                            alt="{{ wine.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ wine.name }}">
                    </a>
                    {% endif %}
                    <div class="mt-4 pb-0 sw-card-name">
                        <a class="sw-link-text-01" href="{% url 'wine_detail' wine.pk %}">{{ wine.name }}</a>
                    </div>
                </div>
                <div class="card-footer border-0 text-left sw-card-footer sw-p-color-blk">
                    <div class="row">
                        <div class="col">
                            <div class="sw-card-price text-start">
                                <p class="lead mb-0 font-weight-bold">${{ wine.price }}</p>
                            </div>
                            <div class="sw-wine-info text-uppercase">
                                {% if wine.country_state %}{{ wine.country_state.friendly_name }}{% endif %}
                                {% if wine.region %}, {{ wine.region.friendly_name }}{% endif %}
                                {% if wine.appellation %}, {{ wine.appellation.friendly_name }}{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="sw-card-des">
                                <p class="sw-font-size-60 text-start">{{ wine.description|truncatewords:10 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block aside %}
<aside class="d-none d-md-block col col-md-3 sw-dt-sidebars sw-b-color-02 ">
    <!-- SpiltWine Featured Items -->
    <div class="row py-2">
        <div class="col text-center sw-h-color-02">
            <h5>Featured Wines</h5>
            {% if featured %}
                <h6>{{ sorting }}</h6>
            {% else %}
                <h6>Sorry, no Featured wines in {{ sorting }} today.</h6>
            {% endif %}
        </div>
    </div>
    {% for f in featured %}
    <div class="row p-1 pb-2">
        <div class="col">
            <div class="card h-100 border-0 sw-b-color-04">
                <div class="card-header">
                    {% if f.varietal %}
                    <div class="">
                        <small class=""><i class="mr-1"></i>{{ f.varietal.friendly_name }}</small>
                    </div>
                    {% else %}
                    <div class="">
                        <small class=""><i class="mr-1"></i>Varietal not Specified</small>
                    </div>
                    {% endif %}
                </div>
                <div class="sw-card-body pb-0">
                    {% if f.image %}
                    <a href="{% url 'wine_detail' f.pk %}">
                        <img class="card-img-top img-fluid mt-3 sw-card-img" src="{{ MEDIA_URL }}{{ f.image }}"
                            alt="{{ f.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'wine_detail' f.pk %}">
                        <img class="card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}cab_grapes.jpg" alt="{{ f.name }}">
                    </a>
                    {% endif %}
                    <p class="mb-0">{{ f.name }}</p>
                </div>
                <div class="card-footer pt-0 border-0 text-left sw-p-color-blk">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold text-danger">${{ f.price }}</p>
                            {% if f.country_state %}
                            <div class="">
                                <small class=""><i class="mr-1"></i>{{ f.country_state.friendly_name }}</small>
                            </div>
                            {% endif %}
                            {% if f.region %}
                            <div>
                                <small class=""><i class="mr-1"></i>{{ f.region.friendly_name }}</small>
                            </div>
                            {% endif %}
                            {% if f.appellation %}
                            <div>
                                <small class=""><i class="mr-1"></i>{{ f.appellation.friendly_name }}</small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="sw-font-size-50">{{ f.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Back to Top Button from Code Institute, Django Module https://codeinstitute.net/global/ -->
    <div class="sw-btt-button shadow-sm rounded-0 border border-black">
        <a class="sw-btt-link d-flex h-100">
            <i class="bi bi-arrow-up mx-auto my-auto sw-i-color-01"></i>
        </a>
    </div>
</aside>
{% endblock %}

<!-- Sort Selector and query counter from Code Institute, Django Module https://codeinstitute.net/global/ -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.sw-btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}